@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
   --skyblue: rgb(4, 102, 200);
   --dark-color: #0353a4;
   --black: #001233;
   --light-color: #979dac;
   --border: .1rem solid rgb(4, 102, 200);
   --border-hover: .1rem solid var(--black);
   --box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i{
    color: var(--skyblue);
    padding-right: 0.2rem;
}

.header .header-1 a{
    text-decoration: none;
}


.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
font-size: 1.6rem;
padding: 0 1.2rem;
height: 100%;
width: 100%;
text-transform: none;
color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--skyblue);
}

.header .header-1 .icons div, .header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    
}

.header .header-1 .icons div:hover, .header .header-1 .icons a:hover{
    color:var(--skyblue);
}

#search-btn{
    display: none;
}

.header-2{
background: var(--skyblue);
}

.header-2 .navbar{
text-align: center;
}


.header-2 .navbar a{
color: #fff;
display: inline-block;
padding: 1.2rem;
font-size: 1.7rem;
text-decoration: none;
}

.header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header-2 .navbar :active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

body{
    height: 300rem;
}

.bottom-navbar{
    text-align: center;
    background: var(--skyblue);
    position:fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
}

.bottom-navbar a{
  font-size: 2.5rem;
  padding: 2rem;
  color:#fff;  
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}





/* media queries*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }   
    .header .header-1{
        padding: 2rem;
    }

    .bottom-navbar{
        display: none;
    }
}


@media (max-width: 768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }


    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block ;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
    position: absolute;
    }

    .header .header-1 .search-form{
    position: absolute;
    top:-115%; right:2rem;
    box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;  
    }

}



@media (max-width: 450px){
    html{
        font-size: 50%;
    }  